:host{
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  label{
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  input {
    appearance: none;
    font-family: 'Open Sans';
    font-size: 1rem;
    color: #242526;
    display: inline-flex;
    box-shadow: none;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 16px;
    height: 36px;
    border-radius: 8px;
    background: #feffff;
    border: 1px solid #cfd2d7;
    min-width: 100px;
    &:active,
    &.active,
    &:focus {
      outline: none;
      border: 1px solid #005d85;
    }
  }
}